<script id="tmpl-UserLogin" type="text/html">

	<div class="UserLogin">
		<div class="container">
			<div class="field">
				<label for="username">UserName:</label>
				<input data-dojo-type="dijit/form/TextBox" type="text" id="username" />
			</div>
			
			<div class="field">
				<label for="password">PassWord:</label>
				<input data-dojo-type="dijit/form/TextBox" type="password" id="password" />
			</div>
			
			<div class="field">
				<button id="btn" data-dojo-type="dijit/form/Button">
					Login
				</button>
			</div>
		</div>
		
	</div>
	
</script>