html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 24px;
  background: white;
  color: #333;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1facef), color-stop(1, #0d3296));
}
.MainView.appLayout {
  height: 100%;
}
.MainView .leftCol {
  width: 14em;
}
.UserLogin .container {
  max-width: 800px;
  height: 400px;
  padding: 20px 30px 20px;
  margin: 0px auto 20px;
  background-color: #fff;
  border: 4px solid #5493CF;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px #292929;
  position: relative;
  top: 90px;
}
.UserLogin .container .field {
  margin: 15px;
}
.UserLogin .login {
  width: 380px;
  float: left;
}
.UserLogin .register {
  width: 380px;
  float: left;
}

